body {
    margin: 0;
    padding: 0;
}
.myapp {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
}